@import '@/styles/utils/all';

.dropdown {
    .trigger {
        position: relative;
        border-style: none;
        font-weight: 400;
        font-family: $secondary-font;
        color: $base-black;
        cursor: pointer;
        background-color: rgba(0,0,0,0);
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;

        img {
            margin-left: 18px;
            transition: transform 0.1s;
        }

        &.open {
            img {
                transform: rotate(180deg);
            }
        }

        &:hover {
            color: $base-blue;
            text-decoration: underline;
        }
    }

    .content {
        position: absolute;
        flex-direction: column;
        width: 238px;
        box-shadow: -5px 5px 19px rgba(0, 148, 255, 0.18);
        border-radius: 5px;
        list-style: none;
        background-color: white;
        display: none;
        padding: 27px 30px 27px 20px;

        &.open {
            display: block;
        }

        a {
            display: block;
            margin: 28px 0 6px 0;

            &:first-child {
                margin-top: 0;
            }
        }

        Link {
            text-decoration: none;
            color: $base-black;
            font-weight: 400;

            &:hover {
                color: $base-blue;
                text-decoration: underline;
                cursor: pointer;
            }
        }

        p {
            font-weight: 400;
            line-height: 1.9rem;

            color: rgba(19, 54, 84, 0.35);
            margin-top: 0;
        }

        @include mq-below(small) {
            box-shadow: none;
            background-color: rgba(0,0,0,0);

            p{
                color: white;
            }
        }
    }
}
