<footer class="bg-darkBlue">
    <div class="text-white container py-5 md:py-10">
        <div class="grid grid-cols-2 gap-x-20">
            <div>
                <a href="https://www.codeforamerica.org" title="Link to Code for America" target="_blank"><img src="/code-for-america-logo.png" alt="Code for America logo" /></a>
                <p class="mt-5">Open SGF is an official Brigade of <a class="text-blue underline" href="https://www.codeforamerica.org" title="Link to Code for America" target="_blank">Code for America</a>.</p>
            </div>
            <div class="flex flex-col items-center justify-self-end place-self-center">
                <ul class="flex items-center space-x-10 pb-5 border-b-2">
                    <li><a class="social-icon" href="https://github.com/Open-SGF" title="Link to Open SGF Github" target="_blank">{% include 'svgs/github-logo.svg' %}</a></li>
                    <li><a class="social-icon" href="https://discord.gg/jFD8dZP" title="Link to Open SGF Discord server" target="_blank">{% include 'svgs/discord-logo.svg' %}</a></li>
                    <li><a class="social-icon" href="https://www.meetup.com/open-sgf" title="Link to Open SGF Meetup" target="_blank">{% include 'svgs/meetup-logo.svg' %}</a></li>
                </ul>
                <a class="mt-5 hover:text-blue" href="mailto:info@opensgf.org" title="Send us a email to info@opensgf.org">info@opensgf.org</a>
            </div>
        </div>
        <p class="mt-10 text-center">Copyright &copy; 2020 Open SGF All Rights Reserved.</p>
   </div>
</footer>
