<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="theme-color" content="#ffffff">
<meta property="og:url" content="https://www.opensgf.org">
<meta property="og:image" content="https://www.opensgf.org/img/share.jpg">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="675">
<meta property="twitter:url" content="https://www.opensgf.org">
<meta property="twitter:image" content="https://www.opensgf.org/img/share.jpg">
<meta property="twitter:image:width" content="1200">
<meta property="twitter:image:height" content="675">
