{% set links = {
    '#projects': 'Projects',
    '#get-involved': 'Get Involved'
} %}

<header
    class="nav"
    x-data="app.components.navigation()"
    x-init="init()"
    @scroll.window="onScroll"
    :class="{ 'is-scrolled': isScrolled }"
>
    <div class="nav-container lg:container px-8 xl:px-12 flex items-center justify-between">
        <a href="/">
            <img class="block h-8 md:h-10 lg:h-12 xl:h-16" src="/img/open-sgf-logo.svg" alt="Open SGF logo"/>
        </a>
        <div class="flex md:hidden">
            <button
                @click="toggle()"
                class="menu-toggle"
                :class="{ 'active': isOverlayOpen }"
                aria-haspopup="true"
                :aria-expanded="isOverlayOpen.toString()"
                :aria-label="isOverlayOpen ? 'Close menu' : 'Open menu'"
            >
                <span></span>
            </button>
        </div>
        <nav class="hidden md:block">
            <ul class="flex py-4 space-x-5 xl:space-x-8 justify-end items-center">
                {% for link, title in links %}
                    <li>
                        <a class="nav-link js-nav-link" href="/{{ link }}">{{ title }}</a>
                    </li>
                {% endfor %}
                <li>
                    <a class="inline-block bg-meetupRed py-2 px-5 text-white text-lg lg:text-2xl xl:text-3xl font-mono"
                        href="https://www.meetup.com/open-sgf/events/280279439"
                        title="2021 National Day of Civic Hacking RSVP"
                        target="_blank">2021 NDCH RSVP</a>
                </li>
                <li>
                    <a
                        class="inline-block bg-blue py-2 px-5 text-white text-lg lg:text-2xl xl:text-3xl font-mono"
                        href="https://www.codeforamerica.org/donate"
                        title="Donate to Code for America"
                        target="_blank"
                    >
                        Donate
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="nav-border">
        <div class="inner-wrapper">
            <div class="inner"></div>
        </div>
    </div>
    <div
        class="nav-overlay md:hidden"
        :class="{ 'active': isOverlayOpen }"
    >
        <nav class="w-full h-full flex items-center justify-center overlay-content">
            <ul class="flex flex-col items-center space-y-7 sm:space-y-10">
                {% for link, title in links %}
                    <li>
                        <a
                            @click="isOverlayOpen = false"
                            class="nav-link js-nav-link-mobile"
                            href="{{ link }}">
                            {{ title }}
                        </a>
                    </li>
                {% endfor %}
                <li class="pt-14">
                    <a class="inline-block bg-meetupRed py-2 px-5 text-white shadow-lg font-mono text-3xl sm:text-4xl"
                        href="https://www.meetup.com/open-sgf/events/280279439"
                        title="2021 National Day of Civic Hacking RSVP"
                        target="_blank">2021 NDCH RSVP</a>
                </li>
                <li class="pt-5">
                    <a
                        class="inline-block bg-darkBlue py-2 px-5 text-white shadow-lg font-mono text-3xl sm:text-4xl"
                        href="https://www.codeforamerica.org/donate"
                        title="Donate to Code for America"
                        target="_blank"
                    >
                        Donate
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>

