{% set links = {
    '#projects': 'Projects',
    '#get-involved': 'Get Involved',
    '#partners': 'Partners'
} %}

<header>
    <nav class="container py-5 md:py-10 grid grid-cols-2">
        <a href="/">
            <img class="block h-8 md:h-14 lg:h-20" src="/open-sgf-logo.svg" alt="Open SGF logo"/>
        </a>
        <div>
            <div class="flex md:hidden justify-end">
                <a href="#"><img src="/hamburger.svg"></a>
            </div>
            <ul class="hidden md:flex py-4 space-x-5 justify-end items-center">
                {% for link, title in links %}
                    <li>
                        <a class="nav-link" href="{{ link }}">{{ title }}</a>
                    </li>
                {% endfor %}
                <li>
                    <a
                        class="inline-block bg-blue py-2 px-5 text-white"
                        href="https://www.codeforamerica.org/donate"
                        title="Donate to Code for America"
                        target="_blank"
                    >
                        Donate
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
