.projectBlockContainer {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    max-width: 915px;
    margin: 0 auto;
}

.sideBySideSet {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.textSet {
    row-gap: 23px;

    h2 {
        font-size: 1.75rem;
    }

    p {
        font-size: 1.125rem;
    }
}

.projectsLink {
    color: #133654;
    font-size: 1.5rem;
    line-height: 2rem;
    align-self: center;
}