.projects {
    @apply relative;

    &::before {
        content: "";
        background: url("/img/dark-blue-circle-pattern.png");
        @apply absolute top-1/2 left-0 transform -translate-x-1/2 translate-y-1/2;
    }

    .card {
        @apply relative;

        &::after {
            content: "";
            @apply bg-blue w-full h-full absolute -top-5 -right-5;
            z-index: -1;
        }
    }
}
