.projects {

    .background {
        @apply relative;

        &::before {
            content: "";
            background: url("/img/dark-blue-circle-pattern.png") no-repeat;
            background-size: contain;
            width: 50%;
            height: 50%;
            @apply absolute left-0 transform -translate-x-1/3 -translate-y-1/2;
            top: calc(50% + 100px);
            z-index: -1;
        }
    }

    .card {
        @apply relative;

        &::after {
            content: "";
            @apply bg-blue w-full h-full absolute -top-5 -right-5;
            z-index: -1;
        }
    }
}
