@import '@/styles/utils/all';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 24px;

    &.textRight {
        flex-direction: row-reverse;
    }

    @include mq-below(mid-small) {
        flex-direction: column;
        margin: 0 2vw;

        &.textRight {
            flex-direction: column-reverse;
        }
    }
}

.textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.graphicWrapper {
    position: relative;
    width: auto;
    height: fit-content;
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;

    @include mq-below(mid-small) {
        min-height: 300px;
    }


    img {
        &:first-child {
            position: static !important;
            margin: auto;
            max-width: 100%;
            height: auto !important;
            max-height: 400px;
            z-index: 10;
        }

        object-fit: contain;
        overflow: visible !important;
    }

    .particles{
        z-index: -10;
        position: absolute;
        width: 100%;
        height: 100%;
    }
}
