@import '@/styles/utils/all';

.container {
    display: flex;
    justify-content: center;
    min-height: 460px;
    margin: 0 50px;
    gap: 24px;

    &.textRight {
        flex-direction: row-reverse;
    }

    @include mq-below(mid-small) {
        flex-direction: column;
        margin: 0 2vw;

        &.textRight {
            flex-direction: column-reverse;
        }
    }
}

.textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.graphicWrapper {
    position: relative;
    width: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;

    .particles{
        z-index: -10;
        position: absolute;
        width: 100%;
        height: 100%;
    }
}
