@import '/styles/_variables.scss';

.container {
    display: flex;
    justify-content: center;
    height: 460px;

    &.textRight {
        flex-direction: row-reverse;
    }
}

.textWrapper {

}

.graphicWrapper {
    position: relative;
    width: auto;
    overflow: hidden;

    .particles{
        z-index: -10;
        position: absolute;
        top: -180px;
        left: -80px;
    }
}

@media screen and (max-width:600px){
    .container{
        flex-direction: column;

        &.textRight {
            flex-direction: column-reverse;
            gap: 0;

            .particles{
                top: -400px;
            }
        }
    }

    .graphicWrapper{
        .particles{
            position: absolute;
            left: -120px;
            width: 10px;
            top: -100 x;
        }
    }
}
