<section>
    <div class="flex flex-col lg:flex-row lg:container px-8 xl:px-12 space-y-5">
        <div class="flex flex-row justify-between">
            <img class="block object-contain w-3/4 sm:w-1/2 lg:w-full mx-auto sm:mx-0" src="/img/get-involved-graphic.png" alt="" role="non presentation" aria-hidden="true" />
            <h1 class="hidden sm:block lg:hidden text-darkBlue text-4xl mb-5 font-mono place-self-center mt-4" aria-hidden="true" role="none presentation">Get Involved</h1>
        </div>
        <div class="justify-center lg:justify-end place-self-center lg:w-8/12 lg:ml-40">
            <h1 class="sm:hidden lg:block text-darkBlue text-3xl sm:text-5xl mb-5 font-mono text-center sm:text-left" id="get-involved">Get Involved</h1>
            <p class="mb-2">
                Are you a developer, designer, or a community person interested
                in bringing technological solutions to problems for our
                community? Come join us at our hack and pitch nights!
            </p>
            <p class="mb-2">
                <strong class="text-darkBlue">Pitch nights</strong> are a great opportunity for hackers to get in touch
                with stakeholders to start new or work on existing projects.
            </p>
            <p class="mb-2">
                <strong class="text-darkBlue">Hack nights</strong> provide our product development teams meet weekly
                for work sessions to develop technology that helps the city.
            </p>
            <p>
                Both nights provide a fantastic way to learn about what
                projects are available to contribute to. If you're unsure about
                which project is most suitable for you, our organizers are more
                than happy to assist you 1&nbsp;on&nbsp;1.
            </p>
            <div class="flex flex-row justify-center flex-wrap sm:flex-nowrap lg:justify-start mt-5 sm:space-x-4 font-mono text-white">
                <a
                    class="w-full sm:w-auto inline-block bg-discordPurple py-2 px-5 text-center mb-4 sm:mb-0"
                    href="https://discord.gg/jFD8dZP"
                    target="_blank"
                >
                    Join our Discord
                </a>
                <a
                    x-data="app.components.meetupButton()"
                    x-init="init()"
                    class="w-full sm:w-auto inline-block bg-meetupRed py-2 px-5 text-center"
                    href="https://www.meetup.com/open-sgf"
                    target="_blank"
                >
                    Join our Meetup
                </a>
            </div>
        </div>
    </div>
</section>

