.container {
    margin: 45px;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.columnOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.columnTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    color: #ffffff;
}

.columnBubble {
    position: relative;
}

.bubbleChat {
    position: absolute;
    top: 25%;
}

.bubbleHeader {
    text-align: center;
    font-size: 2.4rem;
    margin: 10px 0;
}

.chat {
    font-size: 1.8rem;
    margin: 0 10%;
}
