@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.socialIcon {
    display: inline-block;
    width: 3rem;
    height: 3rem;

    & svg path {
        fill: #ffffff;
    }
}
