@import '@/styles/utils/mixins';
@import '@/styles/variables';

.pageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px 15vw 0 15vw;

    @include mq-below(mid-small) {
        margin: 25vh 10vw 0 10vw;
    }

    h1 {
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 2.8rem;
        margin-bottom: 30px;
    }

    p {
        margin: 20px 0;
    }
}
