@import '@/styles/utils/all';

.pageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 calc(50vw - 517px) 44px calc(50vw - 517px);

    @include mq-below(x-large) {
        margin: 0 17vw 0 17vw;
    }

    @include mq-below(large) {
        margin: 0 15vw 0 15vw;
    }

    @include mq-below(medium) {
        margin: 0 12vw 0 12vw;
    }

    @include mq-below(mid-small) {
        margin: 0 10vw 0 10vw;
    }

    h1 {
        margin-bottom: 52px;
    }

    .name, .position {
        font-family: $secondary-font;
    }

    .name {
        margin-bottom: 15px;
    }

    .groupDescription {
        margin: 0px 44px 22px 44px;
    }

    &>* {
        &:last-child {
            min-width: 100%;
            margin-bottom: 90px;
        }
    }
}
