@import '@/styles/utils/mixins';
@import '@/styles/variables';

.pageWrapper {
    margin: 200px 15vw 0 15vw;

    @include mq-below(mid-small) {
        margin: 200px 10vw 0 10vw;
    }
}

.heroText {
    h1 {
        font-size: 5.4rem;
        line-height: 6.3rem;
        margin: 0 0 32px 0;
    }
}

.projectTeaserText {
    h2 {
        font-size: 2.4rem;
        line-height: 2.8rem;
        margin-bottom: 24px;
    }
}
