@import '../_mixins';
@import '../_variables';

.pageWrapper {
    margin: 200px 206px 0 206px;

    @media screen and (max-width: 600px) {
        margin: 200px 10vw 0 10vw;
    }
}

.heroText {
    h1 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 54px;
        line-height: 63px;
        color: #133654;
        margin: 0 0 32px 0;
    }

    p {
        font-family: 'Roboto Slab', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        color: #133654;
    }
}

.projectTeaserText {
    h2 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #133654;
        margin-bottom: 24px;
    }

    p {
        font-family: 'Roboto Slab', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        color: #133654;
    }
}
