@import '@/styles/utils/all';

.pageWrapper {
    margin: 0 15vw 0 15vw;

    @include mq-below(mid-small) {
        margin: 0 10vw 0 10vw;
    }

    &>* {
        &:first-child {
            margin-top: 100px;
        }

        &:nth-child(2) {
            margin-top: 50px;
        }

        &:nth-child(3) {
            margin-top: 50px;
        }

        &:nth-child(4) {
            margin-top: 90px;
        }
    }
}

.heroText {
    h1 {
        @include responsive-font((
            min-size: 3.6rem,
            max-size: 5.4rem,
            lower-bound: breakpoint(x-tiny),
            upper-bound: breakpoint(large)
        ));
        margin: 0 0 32px 0;
    }
}

.projectTeaserText {
    h2 {
        margin-bottom: 24px;
    }
}
