@import '@/styles/utils/all';

.pageWrapper {
    margin: 86px calc(50% - 592px) 110px calc(50% - 592px);

    @include mq-below(x-large) {
        margin: 86px 17.5vw 110px 17.5vw;
    }

    @include mq-below(large) {
        margin: 86px 15vw 110px 15vw;
    }

    @include mq-below(medium) {
        margin: 86px 12vw 110px 12vw;
    }

    @include mq-below(mid-small) {
        margin: 86px 8vw 110px 8vw;
    }
}
