@import '@/styles/utils/all';

.pageWrapper {
    margin: 0 calc(50vw - 558px) 0 calc(50vw - 558px);

    @include mq-below(x-large) {
        margin: 0 11.3vw 0 11.3vw;
    }

    @include mq-below(large) {
        margin: 0 10vw 0 10vw;
    }

    @include mq-below(medium) {
        margin: 0 8vw 0 8vw;
    }

    @include mq-below(mid-small) {
        margin: 0 6vw 0 6vw;
    }

    &>* {
        &:first-child {
            margin-top: 50px;
        }

        &:nth-child(3) {
            margin-left: 15px;
        }

        &:nth-child(4) {
            margin: 0 111px 0 111px;
        }
    }
}

.projectDetailsText {
    display: flex;
    flex-direction: column;
    gap: 23px;

    h2 {
        display: block;
        background: #FF6A6B;
        border-radius: 25px;
        width: 201px;
        height: 33px;
        text-align: center;
        padding-top: 5px;
        font-weight: 500;
        color: #FFFFFF;
    }

    ul {
        display: block;
        list-style-type: disc;
        margin-left: 30px;

         li {
             font-weight: 500;
             color: #FF6A6B;
         }
    }
}

.projectNav{
    display: flex;
    flex-direction: row;
}
