@import '@/styles/utils/mixins';
@import '@/styles/variables';

.pageWrapper {
    padding: 187px 15vw 5vh 15vw;

    @include mq-below(mid-small) {
        padding: 20vh 10vw 5vh 10vw;
    }
}

.title {
    margin-bottom: 30px;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.8rem;
}
