@import '@/styles/utils/all';

.pageWrapper {
    margin: 0 calc(50vw - 517px) 0 calc(50vw - 517px);

    @include mq-below(x-large) {
        margin: 0 17vw 0 17vw;
    }

    @include mq-below(large) {
        margin: 0 15vw 0 15vw;
    }

    @include mq-below(medium) {
        margin: 0 12vw 0 12vw;
    }

    @include mq-below(mid-small) {
        margin: 0 10vw 0 10vw;
    }
}

.projectDetailsText {
    display: flex;
    flex-direction: column;
    gap: 23px;

    h2 {
        display: block;
        background: #FF6A6B;
        border-radius: 25px;
        width: 201px;
        height: 33px;
        text-align: center;
        padding-top: 5px;
        font-weight: 500;
        color: #FFFFFF;
    }

    ul {
        display: block;
        list-style-type: disc;
        margin-left: 30px;

         li {
             font-weight: 500;
             color: #FF6A6B;
         }
    }
}

.projectNav{
    display: flex;
    flex-direction: row;
}
