@import '@/styles/utils/all';

.pageWrapper {
    margin: 0 15vw 0 15vw;

    @include mq-below(mid-small) {
        margin: 15px 10vw 0 10vw;
    }
}

.heroText {
    display: flex;
    flex-direction: column;
    gap: 34px;

    ul {
        display: block;
        list-style-type: initial;
        margin-left: 30px;
    }
}

.projectNav{
    display: flex;
    flex-direction: row;
}

.socialIconWrapper {
    margin: 40px 0 75px 0;
}
