@import '@/styles/utils/all';

.cardContainer {
    width: 476px;
    height: 362px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: -5px 6px 15px rgba(155, 209, 255, 0.51);
    border-radius: 34px;
    background-color: white;
    padding: 12px;
}

.heading {
    align-self: center;
}

.text {
    width: 361px;
    margin: 0 auto;
}

.button {
    align-self: center;
}

@include mq-below(mid-small) {
    .cardContainer{
        width: 70vw;
    }

    .text{
        width: 60vw;
    }
}
