@use "sass:math";

@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return math.div($number, ($number * 0 + 1));
    }

    @return $number;
}

@function breakpoint($bp) {
    @if map-has_key($breakpoints, $bp) == true {
        @return map-get($breakpoints, $bp) + 0px;
    } @else {
        @return null;
    }
}
