@use "sass:map";
@use "sass:math";
@use 'variables' as vars;

:export {
    breakpointSmall: math.floor(map.get(vars.$breakpoints, 'small'));
    lightBlue: vars.$light-blue;
    darkBlue: vars.$dark-blue;
}
