@import '/styles/_mixins';
@import '/styles/_variables';

.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 4;
    display: flex;
    align-items: center;
    transition: top 0.3s;
    padding: 50px 85px 50px 58px;
    margin-bottom: 50px;
    background-color: white;

    &.shown {
        top: 0;
    }

    &.hidden {
        top: -164px;
    }

    .hamburgerIcon {
        display: none;
        z-index: 1;

        @media screen and (max-width: 600px) {
            display: block;
            margin-left: auto;
        }
    }

    .logo {
        width: 30%;
    }
}

.navLinks {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    gap: 60px;

    a {
        text-decoration: none;
        color: $base-black;
        font-size: 1.25rem;
        font-weight: 400;

        &:hover {
            color: $base-blue;
            text-decoration: underline;
        }
    }

    .btn {
        align-items: center;
        justify-content: center;
        background-color: $base-blue;
        width: 110px;
        height: 40px;
        color: white;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 8px;
        border-style: none;

        &:hover {
            background-color: $dark-blue;
            color: $base-blue;
            cursor: pointer;
        }
    }


    &.closed {

    }

    &.open {

    }

    @media screen and (max-width: 600px) {
        position: fixed;
        z-index: 3;
        left: 0;
        top: 0;
        background-color: rgba(0,0,0, 0.9);
        transition: 0.5s;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
        justify-content: flex-start;
        gap: 50px;

        &.closed {
            height: 0;
        }

        &.open {
            height: auto;
        }

        a {
            padding: 8px;
            text-decoration: none;
            color: white;
            font-size: 30px;
        }
    }
}
