@import '/styles/_mixins';
@import '/styles/_variables';

.navbar {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 60px;
    align-items: center;
    top: 0;
    transition: top 0.3s;
    z-index: 4;
    margin-bottom: 50px;
}

.navlinks {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    gap : 60px;

    a {
        text-decoration: none;
        color: $base-black;
        font-size: 1.25rem;
        font-weight: 400;

        &:hover {
            color: $base-blue;
            text-decoration: underline;
        }
    }
}

.btn {
    align-items: center;
    justify-content: center;
    background-color: $base-blue;
    width: 110px;
    height: 40px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    border-style: none;

    &:hover {
        background-color: $dark-blue;
        color: $base-blue;
    }
}

.icon{
    display: none;
    z-index: 1;
}

.logo{
    width: 30%;
}


@media screen and (max-width: 600px) {

    .icon {
        display: block;
        z-index: 1;
        margin-left: auto;
    }

    .navlinks {
        display: flex;
        flex-direction: column;
        height: 0;
        width: 100%;
        position: fixed;
        z-index: 3;
        left: 0;
        top: 0;
        background-color: rgba(0,0,0, 0.9);
        transition: 0.5s;
        overflow: hidden;
        justify-content: flex-start;
        gap: 200px;
    }

    .navlinks a {
        padding: 8px;
        text-decoration: none;
        color: white;
        font-size: 30px;
    }

}


