@import '@/styles/utils/all';

.navbar {
    position: relative;
    width: 100vw;
    z-index: 16;
    display: flex;
    align-items: center;
    transition: top 0.3s;
    padding: 50px 85px 50px 58px;
    background-color: white;

    @include mq-below(small) {
        padding: 35px 85px 35px 38px;
    }

    .hamburgerWrapper {
        position: relative;
        display: none;
        z-index: 19;

        @include mq-below(small) {
            display: block;
            margin-left: auto;
        }
    }

    .logo {
        min-width: 20vw;
        z-index: 19;
        margin-right: 25px;

        @include mq-below(mid-small) {
            max-width: 30vw;
        }
    }

    @include mq-below(small) {
        .backgroundCover {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: white;
            z-index: 18;
        }
    }
}

.navLinks {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    gap: 60px;

    @include mq-below(medium) {
        gap: 30px;
    }

    a {
        text-decoration: none;

        &:hover {
            color: $base-blue;
            text-decoration: underline;
        }
    }

    .btn {
        align-items: center;
        justify-content: center;
        background-color: $base-blue;
        color: white;
        border-radius: 8px;
        border-style: none;
        padding: 13px 37px 13px 33px;

        &:hover {
            background-color: $dark-blue;
            color: $base-blue;
            cursor: pointer;
        }
    }

    .contactLink {
        display: block;
        line-height: 2.1rem;
        color: #133654;
        margin: 25px 0 6px 0;

        &:first-child {
            margin-top: 0;
        }

        &Description {
            line-height: 1.9rem;
            color: rgba(19, 54, 84, 0.35);
        }
    }

    @include mq-below(small) {
        position: absolute;
        z-index: 10;
        left: 0;
        top: 100%;
        background-color: white;
        transition: 0.5s;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
        justify-content: flex-start;
        gap: 50px;
        box-shadow: 0px 29px 67px -28px rgba(0,0,0,0.75);
        padding-bottom: 20px;

        &.closed {
            top: -300%;
        }

        .contactLink:first-child {
            margin-top: 25px;
        }

        a {
            padding: 8px;
            text-decoration: none;
        }
    }
}
