@import '@/styles/utils/all';

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    gap: 32px 20px;
    min-height: 400px;
    align-content: center;

    @include mq-below(mid-large) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

    @include mq-below(mid-small) {
        display: flex;
        flex-direction: column;
    }
}

.imageWrapper {
    position: relative;
    border-radius: 15px;

    span, img {
        border-radius: 15px;
    }

    span {
        width: 100%;
        height: 100%;

        img {
            object-fit: cover;
        }
    }

    &:nth-child(1) {
        grid-row: 1/4;
        grid-column: 1/2;
        object-fit: contain !important;
    }

    &:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
        object-fit: fill !important;
    }

    &:nth-child(3) {
        grid-column: 3/4;
        grid-row: 1/3;
    }

    &:nth-child(4) {
        grid-column: 2/3;
        grid-row: 2/4;
    }

    &:nth-child(5) {
        grid-column: 3/4;
        grid-row: 3/4;
    }

    @include mq-below(mid-large) {
        &:nth-child(3) {
            grid-column: 2/3;
            grid-row: 4/7;
        }

        &:nth-child(5) {
            grid-column: 1/2;
            grid-row: 4/7;
        }
    }

    @include mq-below(mid-small) {
        width: 100%;
        height: 200px;
    }
}
