.container {
    position: relative;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-end;
    height: 250px;
    margin-top: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 300px;
    height: 150px;
    border-radius: 20px;
    background-color: #e9f5ff;
    box-shadow: -2px 4px 10px rgba(19, 54, 84, 0.21);

    .image {
        margin-top: -40px !important;
    }

    h1 {
        font-size: 36px;
        margin: 0;
    }

    p {
        font-size: 18px;
        margin: 0;
    }
}
