.link {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-decoration: underline;
    text-align: center;
    color: #133654;

    @media screen and (max-width: 600px) {
        margin-top: 30px;
    }
}
