@import '@/styles/utils/mixins';
@import '@/styles/variables';

.link {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-family: $secondary-font;
    text-decoration: underline;
    text-align: center;

    @include mq-below(mid-small) {
        margin-top: 30px;
    }
}
