@import '@/styles/utils/all';

.container {
    width: 100%;
    max-width: 300px;
    box-shadow: -4px 4px 10px 0px #00579645;
    border-radius: 8px 8px 10px 10px;
}

.headerStripe {
    width: 100%;
    height: 20px;
    background-color: #FF6061;
    border-radius: 8px 8px 0 0;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 37px 27px 18px;

    .imageWrapper {
        position: relative;
        width: 95px;
        height: 95px;
        margin-right: 25px;
        border-radius: 15px;
        box-shadow: -5px 6px 27px 0px #00000040;
    }

    .textContent {
        display: block;
        width: 100%;

        .eventDate {
            @include responsive-font((
                min-size: 0.9rem,
                max-size: 1.4rem,
                lower-bound: breakpoint(x-tiny),
                upper-bound: breakpoint(large)
            ));
            line-height: 1.14;
            letter-spacing: 0;
            text-align: left;
        }

        .eventTitle {
            font-weight: 600;
            @include responsive-font((
                min-size: 1.7rem,
                max-size: 2rem,
                lower-bound: breakpoint(x-tiny),
                upper-bound: breakpoint(large)
            ));
            line-height: 1.15;
            letter-spacing: 0;
            text-align: left;
        }

        .eventDescription {
            @include responsive-font((
                min-size: 0.8rem,
                max-size: 1.2rem,
                lower-bound: breakpoint(x-tiny),
                upper-bound: breakpoint(large)
            ));
            line-height: 1.33;
            letter-spacing: 0;
            text-align: left;
        }
    }
}
