@import '@/styles/utils/all';

.projectDetails {
    width: 600px;
    margin: 50px auto 0 auto;

    @include mq-below(mid-small) {
        width: 80%;
        margin: 50px 0 0 0;
    }

    .linksWrapper, .techStackWrapper, .contributorsWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        padding: 45px 0 45px 0;
        z-index: 5;

        .verticalLine {
            position: absolute;
            top: 0;
            left: 38.5px;
            z-index: 4;
            width: 3px;
            height: 100%;
            background-color: #133654;
        }

        .icon {
            display: block;
            z-index: inherit;
            width: 80px;
            height: 80px;
            padding: 10px;
            margin: auto 0;
            background-color: white;
        }

        .text {
            width: 400px;
            display: flex;
            flex-direction: column;

            @include mq-below(mid-small) {
                width: 70%;
            }

            h2 {
                margin-bottom: 30px;
            }

            .tools, .contributors {
                display: flex;
                flex-direction: row;
            }

            .tools {
                display: flex;

                @include mq-below(mid-small) {
                    flex-direction: column;
                    align-items: center;

                    h2 {
                        text-align: center;
                    }
                }

                li {
                    display: flex;
                    align-items: center;
                    padding-right: 30px;

                    @include mq-below(mid-small) {
                        width: 100%;
                        padding: 0 0 15px 0;
                    }
                }

                img {
                    height: 70px;
                    width: 70px;
                    border-radius: 50%;
                }
            }

            .contributors {
                justify-content: space-between;
                display: flex;

                @include mq-below(mid-small) {
                    flex-direction: column;
                    align-items: center;

                    h3 {
                        text-align: center;
                    }

                    li {
                        padding-bottom: 30px;
                    }
                }

                .image, img {
                    height: 85px;
                    width: 85px;
                    border-radius: 50%;
                }

                .image {
                    box-shadow: -3px 1px 9px 0px #0000002B;
                    margin-bottom: 30px;

                    @include mq-below(mid-small) {
                        margin-bottom: 15px;
                    }
                }

                h3 {
                    text-decoration: underline;
                }
            }
        }
    }
}
