@import '/styles/_variables.scss';

.container {
    display: flex;
    gap: 60px;
    justify-content: center;
    height: 300px;
    margin: 200px 60px 60px;
}

.reversecontainer {
    display: flex;
    gap: 60px;
    justify-content: center;
    height: 300px;
    margin: 60px;
    flex-direction: row-reverse;
}

.message {
    width: 500px;
    font-family: Roboto, serif;
    color: $base-black;
    justify-content: center;


    .header{
        h1{
            font-size: 54px;
            line-height: 63px;
            font-weight: 1000;
            margin-bottom: 30px;
        }
        h2{
            font-weight: 600;
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 20px;
        }
        }
    }

    .text {
        color: $base-black;
        font-size: 18px;
        font-weight: 300;

        p {
            font-weight: 300;
            font-size: 18px;
            line-height: 24px;
            color: $base-black;
        }
    }

    .lable{
        h3{
            padding: 3px;
            width: 200px;
            text-align: center;
            height: 33px;
            background-color: $base-red;
            border-radius: 25px;
            font-family: Roboto Slab,  serif ;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: white;
            margin: 10px;
        }
    }

    .list{
        ul{
            list-style: disc;
        }
        li{
            font-family: Roboto Slab, serif;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: $base-red;
        }
    }


.graphic{
    position: relative;
    .image{
    }
    .particles{
        z-index: -10;
        position: absolute;
        top: -180px;
        left: -80px;
    }
}

@media screen and (max-width:600px){

    .container{
        display: flex;
        flex-direction: column;
    }

    .reversecontainer{
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
        .particles{
            top: -400px;
        }
    }

    .graphic{
        .particles{
            position: absolute;
            left: -120px;
            width: 10px;
            top: -100 x;
        }
    }

    .message{
        width: 300px;
        text-align: center;
    }
}
