@import '@/styles/variables';

.container{
    display: flex;
    flex-direction: row;
    margin: 40px 10px;
    width: 300px;
}

.flippedContainer{
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 300px;
    text-align: end;
}

.image{
    transform: rotate(90deg);
}

.nextImage{
    transform: rotate(-90deg);
}

.buttonText{
    h3{
        font-size: 2.4rem;
        line-height: 2.8rem;
        margin: 6px;
    }

    p{
        margin: 6px;
    }
}
