{% set title = 'Home' %}
{% extends "layout.njk" %}

{% block body %}
<div class="my-20">
    {% include 'sections/who-we-are.njk' %}
    {% include 'sections/projects.njk' %}
    {% include 'sections/get-involved.njk' %}
    {% include 'sections/partners.njk' %}
</div>
{% endblock %}
