{% set title = 'Home' %}
{% extends "layout.njk" %}

{% block body %}
    {% include 'sections/who-we-are.njk' %}
    {% include 'sections/projects.njk' %}
    {% include 'sections/get-involved.njk' %}
    {% include 'sections/partners.njk' %}
{% endblock %}
