@import "_variables";
.footer{
    display: flex;
    background-color: $dark-blue;
    flex-shrink: 0;
    padding : 3rem;
    height: 216px;
    width: 100vw;
}

.socials{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 80vw;
    img{
        width: 100%;
        background-color: white;
        clip-path: circle( 1.75rem at center);
    }
}