@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
@import 'reset';

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
    width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    position: unset;
    margin: 0;
    padding: 0;
    width: 100vw;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}
