@import '_variables.scss';

.container{
    display: relative;
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: flex-end;
    height: 400px; 
    img{
        z-index: -1;
    }
}
.message{
    width: 300px;
    h1 {
        color: $base-black;
        font-size: 54px;
        font-family: Roboto;
        margin: 0;
    };
    p{
        color: $base-black;
        font-size: 18px;
        font-weight: 300;
    }
}