@import '_mixins';
@import '_variables';

.navbar {
  display: flex;
  width: 100vw;
  align-items: center;
  padding: 2rem;
}

  .logo {
    align-items: flex-start;

    img {
      width: 100%;
    }
  }

.navlinks {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-left: auto;
  gap : 2rem;

  a {
    text-decoration: none;
    color: $base-black;
    font-size: 1.25rem;
    font-weight: 400;

    &:hover {
      color: $base-blue;
      text-decoration: underline;
    }
  }
}

.btn {
  align-items: center;
  justify-content: center;
  background-color: $base-blue;
  width: 110px;
  height: 40px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  border-style: none;

  &:hover {
    background-color: $dark-blue;
    color: $base-blue;
  }
}
