.icon {
    display: flex;
    flex-direction: column;
    align-items: center;

    .imageWrapper {
        border-radius: 50%;
        height: 70px;
        width: 70px;
        box-shadow: -3px 1px 9px 0px #0000002B;
        margin-bottom: 15px;
        position: relative;

        * {
            border-radius: 50%;
        }

        a {
            display: block;
        }
    }
}
