@import '@/styles/utils/all';

.container {
    display: flex;
    gap: 13px;
    margin-top: 159px;

    @include mq-below(mid-large) {
        flex-direction: column;
        gap: 0;
    }

    @include mq-below(x-small) {
        margin-top: 100px;
    }
}

.bubble {
    position: relative;
    min-width: calc(50% - 7px);

    @include mq-below(mid-large) {
        max-width: 526px;
    }

    .imageWrapper {
        svg {
            width: 100%;
            height: auto;
        }
    }

    &:nth-child(2) {
        color: white;
        margin-top: 105px;

        @include mq-below(mid-large) {
            margin-top: auto;
            margin-left: auto;
        }
    }


    .textWrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: inherit;
        padding: 4% 4% 14% 4%;

        .title {
            text-align: center;
            margin: 10px 0;
            color: inherit;
        }

        .body {
            margin: 0 10%;
            color: inherit;
        }
    }
}
