@import '@/styles/utils/all';

.container{
    display: flex;
    justify-content: space-between;

    width: 12em;
}

.hidden {
    display: none;
}

.banner {
    display: flex;
    
    height: 120px;
    width: 98%;

    margin: .5em;
    padding: 0em 2em;

    border-radius: 1em;
    background-color: #E9F5FF;
    

    justify-content: space-between;
    align-items: center;

    text-align: center;
}

.textArea{
    margin: 0em 1em;
}

.textBold{
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #0094FF;
}

.text{
    font-family: sans-serif;
    font-size: 1.5em;
    color: #0094FF;
}

.button{
    border: none;

    padding: 1rem 2rem;

    background-color: #0094FF;
    color: #FFFFFF;

    min-width: 150px;
}

.anchor :hover{
    cursor: pointer;
}

.exit{
    height: 1em;
}

.exitButton{
    border: none;
    background-color: #E9F5FF;
}

.exitButton :hover{
    cursor: pointer;
}
@media (max-width:600px) {
    .banner{
        flex-direction: column;
        justify-content: space-around;
        
        height: 27vh;

        font-size:.5rem;
    }
}