name: Action

on:
    # Trigger the workflow on push or pull request,
    # but only for the main branch
    push:
        branches:
            - dev
            - main
    pull_request:
        branches:
            - main
            - dev

jobs:
    run-linters:
        name: Run linters
        runs-on: ubuntu-latest

        steps:
            -   name: Check out Git repository
                uses: actions/checkout@v2

            -   name: Set up Node.js
                uses: actions/setup-node@v3
                with:
                    node-version: 16

            # ESLint and Prettier must be in `package.json`
            -   name: Install Node.js dependencies
                run: npm ci

            -   name: Run Linter
                run: npm run lint
